<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ibm_db_sa) (3.0.4)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
# !pip uninstall sql
%load_ext sql

Requirement already satisfied: ipython-sql in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: six in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.9.0)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.9)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [3]:
%sql ibm_db_sa://gfv66900:ajBe2Gq05vlyJlUl@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb?security=SSL

In [4]:
# import pandas as pd

# spacex = %sql select * from spacex

# df = pd.read_sql(spacex)

In [5]:
# %sql ibm_db_sa://gfv66900:ajBe2Gq05vlyJlUl@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb?authSource=admin&replicaSet=replset

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [6]:
%sql select distinct(launch_site) from SPACEX

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [7]:
%%sql 
select * from spacex where launch_site like 'CCA%' limit 5;

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit                                                                                            ', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese                                                                   ', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2                                                                                                           ', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1                                                                                                                    ', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2                                                                                                                    ', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
%%sql
select sum(payload_mass__kg_) as Total_payload_mass from spacex
where customer='NASA (CRS)'

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [19]:
%%sql
select AVG(payload_mass__kg_) as AVG_payload_mass from spacex
where booster_version like 'F9 v1.1'

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(2928,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [37]:
%%sql
select min(DATE) as min_date from spacex
where landing__outcome='Success (ground pad)'

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [11]:
%%sql
select booster_version from spacex
where landing__outcome='Success (drone ship)' and payload_mass__kg_ > 4000 and payload_mass__kg_ < 6000;

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [12]:
%%sql
select mission_outcome as mission_outcome, count(mission_outcome) as count_ from spacex 
group by mission_outcome
order by count(mission_outcome)

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('Failure (in flight)', 1),
 ('Success (payload status unclear)', 1),
 ('Success', 99)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [13]:
%%sql
select booster_version, payload_mass__kg_ from spacex 
where payload_mass__kg_ in (select max(payload_mass__kg_) from spacex)
;

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7', 15600)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for the in year 2015

In [14]:
%%sql
select booster_version, launch_site, landing__outcome from spacex
where DATE like '2015%' and landing__outcome = 'Failure (drone ship)'

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [15]:
%%sql
select landing__outcome as landing__outcome, count(landing__outcome) as count_ from spacex 
where DATE between '2010-06-04' and '2017-03-20'
group by landing__outcome
order by count(landing__outcome) desc;

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]

In [29]:
%sql select * from spacex limit 10;

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit                                                                                            ', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese                                                                   ', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2                                                                                                           ', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1                                                                                                                    ', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2                                                                                                                    ', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 9, 29), datetime.time(16, 0), 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE                                                                                                                        ', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 (datetime.date(2013, 12, 3), datetime.time(22, 41), 'F9 v1.1', 'CCAFS LC-40', 'SES-8                                                                                                                           ', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 (datetime.date(2014, 1, 6), datetime.time(22, 6), 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6                                                                                                                       ', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 (datetime.date(2014, 4, 18), datetime.time(19, 25), 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3                                                                                                                    ', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 (datetime.date(2014, 7, 14), datetime.time(15, 15), 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites                                                                                         ', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)')]

In [28]:
# %%sql 
# select distinct(booster_version) from spacex;

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('F9 B4  B1039.2',),
 ('F9 B4  B1040.2',),
 ('F9 B4  B1041.2',),
 ('F9 B4  B1043.2',),
 ('F9 B4 B1039.1',),
 ('F9 B4 B1040.1',),
 ('F9 B4 B1041.1',),
 ('F9 B4 B1042.1',),
 ('F9 B4 B1043.1',),
 ('F9 B4 B1044',),
 ('F9 B4 B1045.1',),
 ('F9 B4 B1045.2',),
 ('F9 B5  B1046.1',),
 ('F9 B5 B1046.2',),
 ('F9 B5 B1046.3',),
 ('F9 B5 B1046.4',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1047.3',),
 ('F9 B5 B1048.2',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1048.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1049.2',),
 ('F9 B5 B1049.3',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1049.6',),
 ('F9 B5 B1049.7',),
 ('F9 B5 B1051.2',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1051.5',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1056.2',),
 ('F9 B5 B1056.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1058.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1058.4',),
 ('F9 B5 B1059.2',),
 ('F9 B5 B1059.3',),
 ('F9 B5 B1059.4',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1060.3',),
 ('F9 B5B1047.1',),
 ('F9 B5B1048.1',),
 ('F9 B5B1049.1',),
 ('F9 B5B1050',),
 ('F9 B5B1051.1',),
 ('F9 B5B1054',),
 ('F9 B5B1056.1',),
 ('F9 B5B1058.1',),
 ('F9 B5B1059.1',),
 ('F9 B5B1060.1',),
 ('F9 B5B1061.1',),
 ('F9 B5B1062.1',),
 ('F9 B5B1063.1',),
 ('F9 FT  B1021.2',),
 ('F9 FT  B1029.2',),
 ('F9 FT  B1031.2',),
 ('F9 FT  B1032.2',),
 ('F9 FT  B1035.2',),
 ('F9 FT  B1036.2',),
 ('F9 FT  B1038.2',),
 ('F9 FT B1019',),
 ('F9 FT B1020',),
 ('F9 FT B1021.1',),
 ('F9 FT B1022',),
 ('F9 FT B1023.1',),
 ('F9 FT B1024',),
 ('F9 FT B1025.1',),
 ('F9 FT B1026',),
 ('F9 FT B1029.1',),
 ('F9 FT B1030',),
 ('F9 FT B1031.1',),
 ('F9 FT B1032.1',),
 ('F9 FT B1034',),
 ('F9 FT B1035.1',),
 ('F9 FT B1036.1',),
 ('F9 FT B1037',),
 ('F9 FT B1038.1',),
 ('F9 v1.0  B0003',),
 ('F9 v1.0  B0004',),
 ('F9 v1.0  B0005',),
 ('F9 v1.0  B0006',),
 ('F9 v1.0  B0007',),
 ('F9 v1.1',),
 ('F9 v1.1  B1003',),
 ('F9 v1.1 B1010',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1012',),
 ('F9 v1.1 B1013',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1015',),
 ('F9 v1.1 B1016',),
 ('F9 v1.1 B1017',),
 ('F9 v1.1 B1018',)]

In [30]:
# %%sql 
# select distinct(payload) from spacex;

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('ABS-2A Eutelsat 117 West B                                                                                                      ',),
 ('ABS-3A Eutelsat 115 West B                                                                                                      ',),
 ('AMOS-17, Starlink 1 v1.0                                                                                                        ',),
 ('ANASIS-II, Starlink 9 v1.0                                                                                                      ',),
 ('AsiaSat 6                                                                                                                       ',),
 ('AsiaSat 8                                                                                                                       ',),
 ('Bangabandhu-1                                                                                                                   ',),
 ('Boeing X-37B OTV-5                                                                                                              ',),
 ('BulgariaSat-1                                                                                                                   ',),
 ('CASSIOPE                                                                                                                        ',),
 ('Crew Dragon Demo-1, SpaceX CRS-17                                                                                               ',),
 ('Crew Dragon Demo-2, Starlink 7 v1.0                                                                                             ',),
 ('Crew Dragon in-flight abort test, Starlink 3 v1.0                                                                               ',),
 ('Crew-1, Sentinel-6 Michael Freilich                                                                                             ',),
 ('DSCOVR                                                                                                                          ',),
 ('Dragon Spacecraft Qualification Unit                                                                                            ',),
 ('Dragon demo flight C1, two CubeSats, barrel of Brouere cheese                                                                   ',),
 ('Dragon demo flight C2                                                                                                           ',),
 ('EchoStar 23                                                                                                                     ',),
 ('Es hail 2                                                                                                                       ',),
 ('Formosat-5                                                                                                                      ',),
 ('GPS III-01                                                                                                                      ',),
 ('GPS III-03, ANASIS-II                                                                                                           ',),
 ('GPS III-04 , Crew-1                                                                                                             ',),
 ('GovSat-1 / SES-16                                                                                                               ',),
 ('Hispasat 30W-6  PODSat                                                                                                          ',),
 ('Inmarsat-5 F4                                                                                                                   ',),
 ('Intelsat 35e                                                                                                                    ',),
 ('Iridium NEXT 1                                                                                                                  ',),
 ('Iridium NEXT 2                                                                                                                  ',),
 ('Iridium NEXT 3                                                                                                                  ',),
 ('Iridium NEXT 4                                                                                                                  ',),
 ('Iridium NEXT 5                                                                                                                  ',),
 ('Iridium NEXT 6   GRACE-FO 1, 2                                                                                                  ',),
 ('Iridium NEXT-7                                                                                                                  ',),
 ('Iridium NEXT-8                                                                                                                  ',),
 ('JCSAT-14                                                                                                                        ',),
 ('JCSAT-16                                                                                                                        ',),
 ('JCSat-18 / Kacific 1, Starlink 2 v1.0                                                                                           ',),
 ('Jason-3                                                                                                                         ',),
 ('Koreasat 5A                                                                                                                     ',),
 ('Merah Putih                                                                                                                     ',),
 ('NROL-76                                                                                                                         ',),
 ('Nusantara Satu, Beresheet Moon lander, S5                                                                                       ',),
 ('OG2 Mission 1  6 Orbcomm-OG2 satellites                                                                                         ',),
 ('OG2 Mission 2  11 Orbcomm-OG2 satellites                                                                                        ',),
 ('Paz  Tintin A & B                                                                                                               ',),
 ('RADARSAT Constellation, SpaceX CRS-18                                                                                           ',),
 ('SAOCOM 1A                                                                                                                       ',),
 ('SAOCOM 1B, GNOMES 1, Tyvak-0172                                                                                                 ',),
 ('SES-10                                                                                                                          ',),
 ('SES-11 / EchoStar 105                                                                                                           ',),
 ('SES-12                                                                                                                          ',),
 ('SES-8                                                                                                                           ',),
 ('SES-9                                                                                                                           ',),
 ('SSO-A                                                                                                                           ',),
 ('Sentinel-6 Michael Freilich, Starlink 15 v1.0                                                                                   ',),
 ('SpaceX CRS-1                                                                                                                    ',),
 ('SpaceX CRS-10                                                                                                                   ',),
 ('SpaceX CRS-11                                                                                                                   ',),
 ('SpaceX CRS-12                                                                                                                   ',),
 ('SpaceX CRS-13                                                                                                                   ',),
 ('SpaceX CRS-14                                                                                                                   ',),
 ('SpaceX CRS-15                                                                                                                   ',),
 ('SpaceX CRS-16                                                                                                                   ',),
 ('SpaceX CRS-17, Starlink v0.9                                                                                                    ',),
 ('SpaceX CRS-18, AMOS-17                                                                                                          ',),
 ('SpaceX CRS-19, JCSat-18 / Kacific 1                                                                                             ',),
 ('SpaceX CRS-2                                                                                                                    ',),
 ('SpaceX CRS-20, Starlink 5 v1.0                                                                                                  ',),
 ('SpaceX CRS-21                                                                                                                   ',),
 ('SpaceX CRS-3                                                                                                                    ',),
 ('SpaceX CRS-4                                                                                                                    ',),
 ('SpaceX CRS-5                                                                                                                    ',),
 ('SpaceX CRS-6                                                                                                                    ',),
 ('SpaceX CRS-7                                                                                                                    ',),
 ('SpaceX CRS-8                                                                                                                    ',),
 ('SpaceX CRS-9                                                                                                                    ',),
 ('Starlink 1 v1.0, SpaceX CRS-19                                                                                                  ',),
 ('Starlink 10 v1.0, SkySat-19, -20, -21, SAOCOM 1B                                                                                ',),
 ('Starlink 11 v1.0, Starlink 12 v1.0                                                                                              ',),
 ('Starlink 12 v1.0, Starlink 13 v1.0                                                                                              ',),
 ('Starlink 13 v1.0, Starlink 14 v1.0                                                                                              ',),
 ('Starlink 14 v1.0, GPS III-04                                                                                                    ',),
 ('Starlink 15 v1.0, SpaceX CRS-21                                                                                                 ',),
 ('Starlink 2 v1.0, Crew Dragon in-flight abort test                                                                               ',),
 ('Starlink 3 v1.0, Starlink 4 v1.0                                                                                                ',),
 ('Starlink 4 v1.0, SpaceX CRS-20                                                                                                  ',),
 ('Starlink 5 v1.0, Starlink 6 v1.0                                                                                                ',),
 ('Starlink 6 v1.0, Crew Dragon Demo-2                                                                                             ',),
 ('Starlink 7 v1.0, Starlink 8 v1.0                                                                                                ',),
 ('Starlink 8 v1.0, SkySats-16, -17, -18, GPS III-03                                                                               ',),
 ('Starlink 9 v1.0, SXRS-1, Starlink 10 v1.0                                                                                       ',),
 ('Starlink v0.9, RADARSAT Constellation                                                                                           ',),
 ('Telstar 18V / Apstar-5C                                                                                                         ',),
 ('Telstar 19V                                                                                                                     ',),
 ('Thaicom 6                                                                                                                       ',),
 ('Thaicom 8                                                                                                                       ',),
 ('Transiting Exoplanet Survey Satellite (TESS)                                                                                    ',),
 ('Turkmen 52 / MonacoSAT                                                                                                          ',),
 ('Zuma                                                                                                                            ',)]

In [31]:
# %%sql 
# select distinct(orbit) from spacex;

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('GTO',),
 ('HEO',),
 ('LEO',),
 ('LEO (ISS)',),
 ('MEO',),
 ('Polar LEO',),
 ('SSO',),
 ('Sub-orbital',)]

In [32]:
# %%sql 
# select distinct(customer) from spacex;

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('ABS Eutelsat',),
 ('AsiaSat',),
 ('Bulsatcom',),
 ('CONAE',),
 ('CONAE, PlanetIQ, SpaceX',),
 ('Canadian Space Agency (CSA)',),
 ('EchoStar',),
 ('Es hailSat',),
 ('Hisdesat exactEarth SpaceX',),
 ('Hispasat  NovaWurks',),
 ('Inmarsat',),
 ('Intelsat',),
 ('Iridium Communications',),
 ('Iridium Communications GFZ ‚ NASA',),
 ('KT Corporation',),
 ('MDA',),
 ('NASA (CCD)',),
 ('NASA (CCDev)',),
 ('NASA (CCP)',),
 ('NASA (COTS)',),
 ('NASA (COTS) NRO',),
 ('NASA (CRS)',),
 ('NASA (CRS), Kacific 1',),
 ('NASA (CTS)',),
 ('NASA (LSP)',),
 ('NASA (LSP) NOAA CNES',),
 ('NASA / NOAA / ESA / EUMETSAT',),
 ('NRO',),
 ('NSPO',),
 ('Northrop Grumman',),
 ('Orbcomm',),
 ('PSN, SpaceIL / IAI',),
 ('Republic of Korea Army, Spaceflight Industries (BlackSky)',),
 ('SES',),
 ('SES EchoStar',),
 ('SKY Perfect JSAT Group',),
 ('Sky Perfect JSAT, Kacific 1',),
 ('SpaceX',),
 ('SpaceX, Planet Labs',),
 ('SpaceX, Planet Labs, PlanetIQ',),
 ('SpaceX, Spaceflight Industries (BlackSky), Planet Labs',),
 ('Spacecom',),
 ('Spaceflight Industries',),
 ('Telesat',),
 ('Telkom Indonesia',),
 ('Thaicom',),
 ('Thales-Alenia/BTRC',),
 ('Turkmenistan National Space Agency',),
 ('U.S. Air Force',),
 ('U.S. Air Force NASA NOAA',),
 ('U.S. Space Force',),
 ('USAF',),
 ('USSF',)]

In [33]:
# %%sql 
# select distinct(mission_outcome) from spacex;

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('Failure (in flight)',), ('Success',), ('Success (payload status unclear)',)]

In [34]:
# %%sql 
# select distinct(landing__outcome) from spacex;

 * ibm_db_sa://gfv66900:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('Controlled (ocean)',),
 ('Failure',),
 ('Failure (drone ship)',),
 ('Failure (parachute)',),
 ('No attempt',),
 ('Precluded (drone ship)',),
 ('Success',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('Uncontrolled (ocean)',)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>